doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/public/css/bootstrap.min.css?v=3.4.0')
    link(rel='stylesheet',href='/public/css/font-awesome.css?v=4.3.0')
    link(rel='stylesheet',href='/public/css/animate.css')
    link(rel='stylesheet',href='/public/css/style.css?v=3.0.0')
  body
    block content
